.hero {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-height: 450px;
  position: relative;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #000000 0%, #1a0404 50%, #2a0606 100%);
  transform: translate3d(0, 0, 0);
  overflow: hidden;
  box-shadow: inset 0 0 100px rgba(255, 242, 0, 0.1);
}

.parallaxLayer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.layer1 {
  animation: parallax_fg linear 20s infinite both;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/24650/1.png) 0 100% repeat-x;
  background-size: auto 136px;
}

.layer2 {
  animation: parallax_fg linear 30s infinite both;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/24650/2.png) 0 100% repeat-x;
  background-size: auto 145px;
}

.layer3 {
  animation: parallax_fg linear 55s infinite both;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/24650/3.png) 0 100% repeat-x;
  background-size: auto 158px;
}

.layer4 {
  animation: parallax_fg linear 75s infinite both;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/24650/4.png) 0 100% repeat-x;
  background-size: auto 468px;
}

.layer5 {
  animation: parallax_fg linear 95s infinite both;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/24650/5.png) 0 100% repeat-x;
  background-size: auto 311px;
}

.layer6 {
  animation: parallax_fg linear 120s infinite both;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/24650/6.png) 0 100% repeat-x;
  background-size: auto 222px;
}

.bike1,
.bike2 {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/24650/bike.png) 0 100% no-repeat;
  z-index: 1;
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: auto 75px;
  animation: parallax_bike linear 10s infinite both;
}

.bike2 {
  animation: parallax_bike linear 15s infinite both;
}

@keyframes parallax_fg {
  0% {
    background-position: 2765px 100%;
  }
  100% {
    background-position: 550px 100%;
  }
}

@keyframes parallax_bike {
  0% {
    background-position: -300px 100%;
  }
  100% {
    background-position: 2000px 100%;
  }
}